---
import Layout from "../layouts/Layout.astro";
import Post from "../components/Post.astro";
---

<Layout title="Acerca de Astro">
    <article class="text-white bg-gray-800">
        <h1>PÁGINA SEGUNDA 2</h1>
        <Post />
    </article>
</Layout>
